table, th, td {
    border: 1px solid rgb(47, 50, 255);
    border-collapse: collapse;
  }
body{
    background-color: "black";
}
th {
    background-color: #04AA6D;
    color: white;
  }
  tr:hover {background-color: lightgreen;}